<script type="application/javascript">
    $(function() {
        var bal_hrs = '00:27:00';
        var baltime = 1620;
        var course_status = 'notpassed';
        
        if(course_status == 'notpassed' && baltime && bal_hrs != '00:00:00') {
            $('#counter_2').css('display','block');
            $('#time_display').css('display','block');
            $('#continue').css('display','none');

            var clock = $('#counter_2').FlipClock({
                countdown: true,
                callbacks: {
                    stop: function() {
                        $('#continue').css('display','block');
                        setTimeout(function() {
                            window.onbeforeunload = '';
                            // window.location.href = 'chapter_exam.php';
                        }, 2000);
                    },
                    interval: function() {
                        if (this.count % 900 == 0) {
                            // Add logic here if needed
                        }
                    }
                }
            });
            clock.setTime(baltime);
            clock.start();
            window.setInterval(function() {
                $.get('?keepalive=yes');
            }, 5 * 60000);
        }
    });
</script>
